<div class="overflow-x-auto">
  <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
    <thead class="ltr:text-left rtl:text-right">
      <tr>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          IP
        </th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Device
        </th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Browser
        </th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Browser Version
        </th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Platform
        </th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Platform Version
        </th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          At
        </th>
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">
      <% views.each do |view| %>
        <tr class="odd:bg-gray-50">
          <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            <%= link_to view.ip, link_detail_path(@link, view) %>
          </td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= view.device %></td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= view.browser %></td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= view.browser_version %></td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= view.platform %></td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= view.platform_version %></td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= view.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
